<?xml version="1.0"?>
<launch>

<node pkg="rviz" type="rviz" name="rviz_node" args="-d $(find racing_campcc_pkg)/rviz_configs/drone_visualization_config.rviz" 
   />
<node pkg="racing_campcc_pkg" type="drone_simulator.py" name="drone_simulator_node" output="screen"
   />
<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure_forwards_int"
   />
</launch>
