#!/usr/bin/env python

# This code is based on the dynamic_reconfigure package and it's used to modify the parameters of the MPCC controller at runtime #
# It's used by Drone_MPCC_control_node.py and rqt_reconfigure tool #

PACKAGE = "curvature_aware_mpcc_pkg"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


#add the parameters to be modified dynamically
# gen.add(parameter_name, parameter_type, parameter_id, parameter_description, default_value, min_value, max_value)
#gen.add("max_thrust", double_t, 0, "+/- max thrust", 3.6 , 0, 10)               #20% of the hover force 9.81*1.9
#gen.add("max_thrust_rate", double_t, 0, "+/- max thrust rate", 1.5 , 0, 10)
gen.add("synchronous_sim",   bool_t,   0, "forward integrate the drone by taking the next mpc state",  False)
gen.add("q_sdot",   double_t, 0, "Weight on velocity (MPCC) / s_dot following (CAMPCC)",     1, 0, 10)
gen.add("q_cont",   double_t, 0, "Weight on contouring error",                               0.1, 0, 10)
gen.add("q_lag",    double_t, 0, "Weight on lag error (MPCC) / unused (CAMPCC)",             5.0, 0, 100)
gen.add("q_thrust", double_t, 0, "Weight on thrust rate",                                    1.0, 0, 10)
gen.add("q_roll_pitch",   double_t, 0, "Weight on acc_x (Point) / roll_rate (Drone)",        5.0, 0, 10)
gen.add("q_yaw",    double_t, 0, "Weight on acc_z (Point) / yaw_rate (Drone)",               5.0, 0, 10)
gen.add("qt_pos",   double_t, 0, "Terminal cost on position error (qt_pos * (X-X_ref)^2)",                          40,   0, 100)
gen.add("qt_v",   double_t, 0, "Terminal cost on CAMPCC curvature promoting (qt_v * den_corrected^2)",                            40,   0, 100)
gen.add("qt_s",   double_t, 0, "Terminal cost on reaching further along the path (- qt_s * s)",           1,   0, 100)
gen.add("lane_radius",   double_t, 0, "Tube radius around path",                             0.5,   0, 1)
gen.add("local_path_length",   double_t, 0, "Length of the local path used in the MPC",      6,   0, 20)



# Define the several solvers. Notice: the string chosen to show as solver name up must not contain spaces
# solver_choice_enum = gen.enum([ gen.const("Solver_name", type, number of solver, "Solver description"), get.enum([...]) ,"An enum to set size")
solver_choice_enum = gen.enum([gen.const("MPCC", int_t, 0, "sets the solver type to MPCC"),
                               gen.const("CAMPCC", int_t, 1, "sets the solver type to CAMPCC"),
                               gen.const("MPCCPP", int_t, 2, "sets the solver type to MPCCPP"),
                               gen.const("CAMPCC_EA", int_t, 3, "sets the solver type to CAMPCC with euler angle ref path formualtion")
                               ], "An enum to edit solver type")
#add the solver choice as a parameter to be modified dynamically                  #default min max
gen.add("controller_type", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=solver_choice_enum)


software_choice_enum = gen.enum([gen.const("acados", int_t, 0, "solver software set to acados"),
                               gen.const("frorcespro", int_t, 1, "solver software set to frocespro")], "An enum to edit software choice")
#add the solver choice as a parameter to be modified dynamically                  #default min max
gen.add("software_choice", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 1, edit_method=software_choice_enum)



#generate the files and places them in the appropriate place in order to modify the node's paramenter at runtime
exit(gen.generate(PACKAGE, "curvature_aware_mpcc_pkg", "Drone_MPCC_dynamic_reconfigure"))
