#!/usr/bin/env python
#defining and generating dynamic reconfigure parameters for ROS nodes in the GUI

PACKAGE = "curvature_aware_mpcc_pkg"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#gen.add(name, type, level, description, default, min, max, edith_method)
#gen.add("dt_int", double_t, 0, "target path velocity", 0.01, 0.001,   0.1)
gen.add("reset_state",   bool_t,   0, "A Boolean parameter to reset the state",  True)
gen.add("reset_state_x", double_t, 0, "X position to reset to", -0.72, -12,   12)
gen.add("reset_state_y", double_t, 0, "Y position to reset to", -3.12, -12,   12)
gen.add("reset_state_z", double_t, 0, "Z position to reset to", 0.96, -12, 12)
gen.add("reset_state_roll", double_t, 0, "Orientation to reset to in radians", 0, 0,  3.14159)
gen.add("reset_state_pitch", double_t, 0, "Orientation to reset to in radians", 0, -1.570795, 1.570795)
gen.add("reset_state_yaw", double_t, 0, "Orientation to reset to in radians", 0, 0,   3.14159)

#Generate the options (gen.const) for the list of possibilities (gen.enum)
# the string chosen to show up must not contain spaces
# model_choice_enum = gen.enum([gen.const("drone",int_t, 1, "sets the dynamic model to a nonlinear simplified drone model") ],
#                     "An enum to set dynamic model")
                                             
# gen.add("dynamic_model_choice", int_t, 0, "Model choice which is edited via an enum", 1, 1, 1, edit_method=model_choice_enum)

# used to terminate the script after generating the dynamic reconfigure parameter description
exit(gen.generate(PACKAGE, "curvature_aware_mpcc_pkg", "Drone_Forwards_int_opti_message_dynamic_reconfigure"))
